// VARIABLES

$primary: #000000;
$primary-invert: #ededed;

$pagination-current-background-color: #192532;
$pagination-current-border-color: #192532;
$pagination-focus-border-color: #192532;

$link: #333333;
